/*Housekeeping*/
/*Global Variables*/
:root {
    --main-bg-color: #8fbc8f;
    --main-head-font: 'Times New Roman', serif;
    --main-body-font: 'Helvetica', sans-serif;
}

h1{
    font-size: 1.75em;
}

h2{
    font-weight: bold; 
}

h3{
    font-weight:normal;
}

p{
    font-size: .875em;
    line-height: 130%;
}

ol{
    font-size: .875em;
    line-height: 130%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Responsive Images*/
.img-fluid {
    max-width: 100%;
    height: auto;
}

/*Ensuring full width and eliminating page margins*/
body { 
    margin:0; 
}
/*End Global Variables*/

/*header*/
.nav-header-container{
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 55px;
    padding-right: 55px;
}

.header-row{
    height:34px;
}

/*logo icon*/
.header-icon{
    height:34px;
}

.header-icon:hover{
    opacity: .6;
}


/*navbar*/

@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

.button_container {
    position: relative;    
    float: right;
    height: 34px;
    width: 34px;
    padding-top: 9px;
    padding-bottom:9px;
    padding-left:7px;
    padding-right:7px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.button_container:hover{
    background:var(--main-bg-color);
    opacity: .9;
    cursor: pointer;
}

.button_container.active .top {
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    transform: translateY(7px) translateX(0) rotate(45deg);
    background: #fff;
}
.button_container.active .middle {
    opacity: 0;
    background: #fff;
}
.button_container.active .bottom {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    background: #fff;
}

.button_container.active:hover{
    background:transparent;
    opacity: .6;
}

.button_container span {
    background: #000;
    border: none;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 9px;
    left: 7px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 16px;
}
.button_container span:nth-of-type(3) {
    top: 23px;
}

.overlay {
    position: fixed;
    background: var(--main-bg-color);
    top: 0;
    left: 0%;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
}

.overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
    z-index: 90;
}
.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: var(--main-head-font);
    font-weight: normal;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    padding-top: 10%;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    background: #ff66ff;
    opacity: .45;
    -webkit-transition: .35s;
    transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*Hero Section*/
.hero{
    width: 100%;
    height: 100%;
    text-align: left;
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero h1{
    font-family: var(--main-head-font);
    line-height: 120%;
    letter-spacing: .5px;
}

/*Typed.JS Styles*/
#typed{
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Portfolio Section*/
/*Section Container padding*/
.portfolio-container{
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
}

/*padding for project thumbnail*/
.project-thumb{
    padding: 10px;
}

/*Overlay effect*/
.thumb-container{
    position: relative;
    width: 100%;
    height: auto;
}

.thumb-container img{
    display: block;
}

.thumb-overlay{
    position: absolute;
    background: var(--main-bg-color);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .25s, visibility .25s, height .25s;
    transition: opacity .25s, visibility .25s, height .25s;
    overflow: hidden;
}

.thumb-container:hover .thumb-overlay{
    opacity: .95;
    visibility: visible;
    height: 100%;
    z-index: 90;
}
    
.thumb-text{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5em;
    font-family: var(--main-head-font);
    font-weight: lighter;
    text-align: center;
    color: #fff;
}
.thumb-text ul {
    list-style: none;
    padding: 0;
    margin: auto auto;
    display: inline-block;
    position: relative;
}
.thumb-text ul li {
    display: block;
    min-height: 50px;
    position: relative;
    padding-top: 10%;
    opacity: 0;
    vertical-align: middle;
}

.thumb-container:hover .thumb-text li {
    -webkit-animation: fadeInRight .35s ease forwards;
    animation: fadeInRight .35s ease forwards;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    letter-spacing: 1px;
}

.thumb-container:hover .thumb-text li:nth-of-type(2) {
    font-size: 16px;
    font-family: var(--main-body-font);
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    letter-spacing: normal;
}

/*Delayed fadeInUp 1*/
.fadeInUp2 {
    animation-name: fadeInUp;
    animation-delay: .25s;
}

/*Delayed fadeInUp*/

.fadeInUp3 {
    animation-name: fadeInUp;
    animation-delay: .5s; 
}

/*Project Page*/
.nav-header-container-fixed{
    background: #fff;
    height: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 55px;
    padding-right: 55px;
    position:fixed;
    z-index: 100;
}

.proj-hero{
    width: 100%;
    height: 100%;
    text-align: left;
    font-family: var(--main-head-font);
    padding-right: 55px;
    padding-left: 55px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.proj-hero2{
    font-family: var(--main-body-font);
    font-weight: 300;
}

.proj-line{
    width: 40px;
    padding-top: 6px;
    border-bottom: 3px solid black;
    position: absolute;
}

.proj-body{
    margin: 1px;
}

.proj-head{
    padding-right: 150px;
    padding-left: 150px;
    font-family: var(--main-head-font);
    font-weight: 300;
}
.proj-text{
    padding-right: 150px;
    padding-left: 150px;
    font-family: var(--main-body-font);
}

.proj-text img{
    padding-top: 30px;
    padding-bottom: 30px;
}

.proj-text ul{
    list-style-type:square;
}

.proj-text ul li{
    font-size: .875em;
}
.no-top-pad img{
    padding-bottom: 30px;
    padding-top: 0px;
}

/*About page formatting*/
.about-head{
    padding-right: 35px;
    padding-left: 35px;
    font-family: var(--main-head-font);
    font-weight: 300;
}

.about-text{
    padding-right: 35px;
    padding-left: 35px;
    font-family: var(--main-body-font);
    margin-bottom: 70px;
}

.about-text2{
    padding-right: 120px;
    padding-left: 120px;
    font-family: var(--main-body-font);
    margin-bottom: 70px;
}

.about-text2 h3{
    font-family: var(--main-head-font);
}

.about-text2 img{
    border-radius: 50%;
    max-height: 250px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.about-icon{
    padding-right: 120px;
    padding-left: 120px;
}

.icon{
    height: 30px;
    width: auto;
    padding-right: 30px;
}

/*Change margins on smaller screens (Tablets + Phones*/
@media (max-width: 768px) {
    .nav-header-container, .nav-header-container-fixed, .proj-hero, .proj-head, .proj-text, .proj-text2, .about-text2, .about-icon{
        padding-right:20px;
        padding-left: 20px;
    }
    .icon{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*Carousel height*/
.fit-view{
    max-height: 100vh;
}



/*Footer*/
.footy{
    text-align: center;
    padding-top:10px;
    padding-bottom:5px;
}


/*Slick Formatting*/
/* Arrows */
.slick-prev:before,
.slick-next:before
{
    color: #000;
}

