/*Global Styles*/
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.row-half{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font-size: 1em;
}

.back-gray{
    background-color: #f2f2f2;
}

.row-half:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 33.33333%;
    padding-bottom: 0%;
}

.project-title{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: left;
    padding-left: 40px;

    
}

.project-title:before{
    content: "";
    display: inline-block;
    vertical-align: Bottom;
    padding-top: 17.5%;
    padding-bottom: 0%;
}

.lg {
    font-size: 3em;
    text-align: justify;
    font-weight: 600;
    -moz-text-align-last: justify;
    text-align-last: justify;
    
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a.two:link {
    color:#0645AD;
    text-decoration: underline;
}

a.two:hover{
    color: #000;
    text-decoration: none;
    font-weight:bold;
}

/*Specific Section Styles*/
/*Logo Styles*/
#logo {
    background-color: #fff;
}
#logo:hover{
    background-color: #333333;
}
#logo:hover img{
    -webkit-filter: invert(100%);
}

/*About and Resume Styles*/
#about{
    background-color: #cccccc;
    color: #000;
    font-weight: 600;
}
#about:hover{
    background-color: #333333;
    color: #fff;
}
#resume{
    background-color: #999999;
    color: #000;
    font-weight: 600;
}
#resume:hover{
    background-color: #333333;
    color: #fff;
}

#contact{
    background-color: #666666;
    color: #000;
    font-weight: 600;
}

#contact:hover{
    background-color: #333333;
    color: #fff;
}

#social{
    background-color: #333333;
}

#social2{
    background-color:#666666
}

#title{
    background-color: #f2f2f2;
    color: #333333;
}

/*Project Thumbnail Styles*/
.project-text{
    font-size: 1.25em;
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

.project-text-alt{
    font-size: 1.25em;
    width: 100%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.6);
}


.project-img{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project-img:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.project-img:hover .project-text{
    display: inline;
    opacity: 1;
}

.project-img:hover .project-text-alt{
    display: inline;
    opacity: 1;
}

.social img{
    width: 12%;
    align-content: center;
}

.social img:hover{
    -webkit-filter: invert(100%);
}

.social:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    padding-bottom: 0%;
}

.social2:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    padding-bottom: 0%;    
}

.icon{
    padding-left: .4em;
    padding-right: .4em;
    
}

.about-proj{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 20px;
    text-align:left;
    color: #000;
}

.proj-body{
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    text-align:left;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}


.half-col-left{
    padding-right: .75em;
}

.half-col-right{
    padding-left: .75em;
}
